@model Book

<div class="container py-5" style="max-width: 800px;">

    <div class="card shadow-lg border-0 rounded-3">

        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0 "><i class="bi bi-journal-plus"></i> Add New Book</h4>
            <a asp-action="Index" class="btn btn-light btn-sm">
                <i class="bi bi-arrow-left"></i> 
            </a>
        </div> 

        <div class="card-body">

            <form asp-action="Create" method="post" class="mt-3">

                @* Title Field *@
                <div class="mb-3">
                    <label asp-for="Title" class="form-label fw-bold"></label>
                    <input asp-for="Title" class="form-control" placeholder="Enter book title"  />
                    <span asp-validation-for="Title" class="text-danger small"></span>
                </div>

                @* Author  *@
                <div class="mb-3">
                    <label asp-for="Author" class="form-label fw-bold"></label>
                    <input asp-for="Author" class="form-control" placeholder="Enter Author Name" />
                    <span asp-validation-for="Author" class="text-danger small"></span>
                </div>

                @* Price  *@
                <div class="mb-3">
                    <label asp-for="Price" class="form-label fw-bold"></label>
                    <input asp-for="Price" class="form-control" placeholder="Enter price (e.g. 10.50)" />
                    <span asp-validation-for="Price" class="text-danger small"></span>
                </div>

                @* Description *@
                <div class="mb-3">
                    <label asp-for="Description" class="form-label fw-bold"></label>
                    <textarea asp-for="Description" rows="3" class="form-control" placeholder="Enter book description"></textarea>
                    <span asp-validation-for="Description" class="text-danger small"></span>
                </div>

                <div class="d-flex justify-content-end" >
                    <button type="submit" class="btn btn-success px-4"> 
                        <i class ="bi bi-save" ></i>    Save
                    </button>
                    <a asp-action="Index" class="btn btn-outline-secondary ms-2 px-4">
                        <i class="bi bi-x-circle"></i> Cancel
                    </a>
                </div>
                
            </form>

        </div> 

    </div> 

</div>

@section Scripts { <partial name="_ValidationScriptsPartial"/>}
